  html {
    background-color: rgb(0, 0, 0);
  }
  body {
    background-color: #200c36;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    border: 5px solid #7005ad;
    padding: 30px;
    filter: drop-shadow(0px 0px 4px black);
  }
  h1 {
    color: white;
    filter: drop-shadow(0px 0px 4px rgb(0, 0, 0));
    text-align: center;
  }
  .blue{
    color: rgb(99, 167, 255);
    filter: drop-shadow(0px 0px 4px rgb(99, 167, 255))
  }
  h2 {
    color: white;
    filter: drop-shadow(0px 0px 4px black);
  }
  p {
    color: white;
    font-size: large;
    filter: drop-shadow(0px 0px 4px black);
  }
  a {
    color:white;
    filter: drop-shadow(0px 0px 4px black);
  }
  .links-box {
    padding-left: 10px;
    border: 3px solid rgb(162, 0, 255);
    background-color: #be85ff;
    width: 120px;
    font-size: 16px;
    filter: drop-shadow(0px 0px 1px black);
    border-radius: 15px;
  }
  .separator {
    border: 2px solid #4d1988;
    border-radius: 14px;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}